/*------About Us-------*/
body{
    background: rgb(71, 65, 65);
}
nav{
    height: 50vh;
    width: 100%;
    background: url(../IMG/102803.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
nav h1{
    text-align: center;
    color: white;
    font-size: 100px;
}



