main{
    background: url(../IMG/90020.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    opacity: 0.9;
}
body{
    color: white;
}
.down{
    margin-top: 20%;
}
.card{
    background-color: gray;
    color:white;
}
/*footer*/
footer{
    height: 20px;
    width: 100%;
} 

.foot-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer .foot2 p{
    color: rgb(99, 32, 32);
    font-style: oblique;
    font-weight: 700;
}
