main{
    background: url(../IMG/90020.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    opacity: 0.9;
}
body{
    color: white;
}
.down{
    margin-top: 20%;
}
.card{
    background-color: gray;
    color:white;
}

.testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  .testimonial-card .avatar {
    width: 110px;
    margin-top: -60px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 50%;
  }

